.Editor {
  display: flex;
  gap: 10px; /* 띄워줄때는 gap. gap은 flex가 먹여진 요소에 한해서 적용됨*/
}

.Editor input {
  flex: 1; /* 얘가 최대한 늘어날 수 있을 정도로 늘어남*/
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  background-color: rgb(37, 147, 255);
  color: white;
  border: none;
  border-radius: 5px;
}
